<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    {% load static %}
    <!-- Estilização -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        
        <h1>{{ greeting }}, {{ user_name }}!</h1>


        <!-- Formulário para adicionar tarefas -->
        <form action="/add/" method="post">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Escreva a tarefa" required>
            <textarea name="description" placeholder="Detalhe da tarefa"></textarea>
            <button type="submit">ADICIONAR</button>
        </form>
        <!-- Lista de Tarefas -->
        <ul id="task-list">
            {% for task in tasks %}
                <li class="{% if task.completed %}completed{% endif %}">
                    <span>{{ task.title }} - {{ task.description }}</span>
                    {% if not task.completed %}
                        <a href="/complete/{{ task.id }}/" class="btn btn-success btn-sm">Complete</a>
                    {% else %}
                        <span class="done">✔ FEITO!</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
